Generation 9 Pokémon/*
grab/*
images/*
logs/*
pokemon_cards/*
pokemon_classifier_vit/*
pokemon-tcg/*
results/*
scripts/*
source_images/*
tcg/*
pokemon_classifier.h5
cleaned_pokemon.csv
pokemon.csv
utils/__pycache__/*
utils/__pycache__/
upload_huggingface.py
pokemon_classifier_vit/*